.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  display: inline-block;
  font-size: 42px;
  width: 30%;
  line-height: 1.5;
  position: absolute;
  top: 220px;
  left: 100px;
  color: #00252E;
}

h2 {
  color: #00252E;
}

/* Styles for header div */
.header {
  background-image: image('bg-hero-desktop.svg');
  position: relative;
}

.bg-img {
  margin: 0;
  height: 100%;
  width: 100%;
}

.logo-img {
  position: absolute;
  top: 50px;
  left: 100px;
  height: 33px;
  width: 220px;
}

.button_try_it {
  position: absolute;
  top: 40px;
  right: 100px;
  height: 50px;
  width: 200px;
  border-radius: 100px;
  border: none;
  color: #00252E;
  background-color: white;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0px 0px 15px 0px #E6E6E6;
  text-decoration: none;
  text-align: center;
}

.mockups-img {
  position: absolute;
  top: 145px;
  right: 100px;
  height: 520px;
  width: 720px;
}

.p_header {
  display: inline-block;
  width: 34%;
  position: absolute;
  top: 380px;
  left: 100px;
  line-height: 1.5;
  font-size: 18px;
  color: #00252E;
}

.button_get_started {
  position: absolute;
  top: 520px;
  left: 100px;
  height: 60px;
  width: 280px;
  border-radius: 100px;
  border: none;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #FF52BF;
  box-shadow: 0px 0px 10px 0px #E6E6E6;
  text-decoration: none;
  text-align: center;
}

.div_img {
  height: 310px;
  width: 430px;
  position: absolute;
}

.div_h2 {
  width: 35%;
  text-align: left;
  margin: 
}

.div_p {
  width: 35%;
  margin:  auto;
  text-align: left;
  color: #808D99;
}

/* Styles for grow_together div */
.grow_together {
  box-shadow: 0px 0px 15px 0px #E6E6E6;
  border-radius: 20px;
  height: 450px;
  width: 85%;
  margin: 160px auto 20px auto;
  position: relative;
}

.img_1 {
  right: 0;
}

/* Styles for flowing_conversations div */
.flowing_conversations {
  box-shadow: 0px 0px 15px 0px #E6E6E6;
  border-radius: 20px;
  height: 450px;
  width: 85%;
  margin: 40px auto 20px auto;
  position: relative;
}

.img_2 {

  right: 0;
}

/* Styles for your_users div */
.your_users {
  box-shadow: 0px 0px 15px 0px #E6E6E6;
  border-radius: 20px;
  height: 450px;
  width: 85%;
  margin: 40px auto 120px auto;
  position: relative;
}

.img_3 {

  right: 0;
}

/* Styles for bottom_question div */
.bottom_question {
  box-shadow: 0px 0px 15px 0px #E6E6E6;
}

/* Styles for footer div */
.footer {}
